/************************************INICIAR SESION************************************/

/************* mobile first ******************/

@media only screen and (max-width: 600px) {

.containerIniciarSesion{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #DCDCDC;
    height: 100%;
    width: 60%;
    justify-content: center;
    padding: 20px;
}

.containerIniciarSesion h3 {
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

/*Formulario*/

.sesion label {
    margin: 0;
}

.sesion input {
    margin-bottom: 15px;
    font-size: 13px;
    height: 30px;
}

.campo{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}

.contrase単a{
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

p{
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
}

p a {
    margin-left: 5px;
}

/*Boton Iniciar Sesion*/
.botonIniciarSesion{
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

#btnIniciarSesion{
    height:35px;
    justify-content: center;
    color: #f7f7f7;
    background-color: #11cbd7;
    border-radius: 6px;
    font-weight: bold;
    border:none;
    padding: 5px;
}

}


/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/**************** dispositivos peque単os **************************/

@media only screen and (min-width: 600px) {

.containerIniciarSesion{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #DCDCDC;
    height: 100%;
    width: 50%;
    justify-content: center;
    padding: 20px;
}

.containerIniciarSesion h3 {
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

/*Formulario*/

.sesion label {
    margin: 0;
}

.sesion input {
    margin-bottom: 15px;
    font-size: 13px;
    height: 30px;
}

.campo{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}

.contrase単a{
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

p{
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
}

p a {
    margin-left: 5px;
}

/*Boton Iniciar Sesion*/
.botonIniciarSesion{
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

#btnIniciarSesion{
    height:35px;
    justify-content: center;
    color: #f7f7f7;
    background-color: #11cbd7;
    border-radius: 6px;
    font-weight: bold;
    border:none;
    padding: 5px;
}

/*Formulario*/

.sesion label {
    margin: 0;
}

.sesion input {
    margin-bottom: 15px;
    font-size: 13px;
    height: 30px;
}

.campo{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}

.contrase単a{
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

p{
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
}

p a {
    margin-left: 5px;
}

/*Boton Iniciar Sesion*/
.botonIniciarSesion{
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

#btnIniciarSesion{
    height:35px;
    justify-content: center;
    color: #f7f7f7;
    background-color: #11cbd7;
    border-radius: 6px;
    font-weight: bold;
    border:none;
    padding: 5px;
}

}

/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/***************************** tabletas **************************/
@media (min-width: 768px) {

.containerIniciarSesion{
    width: 40%;
}
}

/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/************************ escritorio normales ********************/
@media (min-width: 992px) {

.containerIniciarSesion{
    width: 30%;
}
}

/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/******************** pantallas grandes **************************/
@media (min-width: 1200px) {

.containerIniciarSesion{
    width: 30%;
}

.containerIniciarSesion h3 {
    align-items: center;
    margin-bottom: 20px;
}


}


