/************************************INICIAR SESION************************************/

/************* mobile first ******************/

@media only screen and (max-width: 600px) {

.containerIniciarSesion{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #DCDCDC;
    height: 100%;
    width: 50%;
    justify-content: center;
    padding: 20px;
}

.containerIniciarSesion h3 {
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin:0;
}

/*Formulario*/

.divForm {
  justify-content: space-between;
  width: 100%;
}

.campo label {
  margin: 0 !important;
  padding-bottom: 5px;
  font-size: 0.8em;
  cursor: pointer;
  font-weight: bold;
}

.campo {
  width:100%;
  margin-top: 25px;
}

.divInput {
  flex-direction: row;
  position: relative;
}

.divInput input {
  width: 100%;
  margin-bottom: 10px;
  font-size: 0.7em;
  padding: 4px 0;
  border: 2px solid  #eaeaea;
  border-radius: 3px;
  height: 35px;
  transition: .3s ease all;
}

.divInput input:focus {
  border: 2px solid  #00b5ff;
  outline: none;
  box-shadow: 2px 0 30px #a3a3a3;
}

.inputError {
  font-size: 0.7em;
  margin: 0;
  padding-bottom: 10px;
  display: none;
}

.inputError-activo {
  display: inline-block;
}

.iconoValidacion {
  position: absolute;
  align-self: center;
  right: 10px;
  top: 10px;
  z-index: 100;
  font-size: 0.9em;
  opacity: 0;
}

.contraseña{
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px;
}

p{
    flex-direction: row;
    justify-content: center;
    font-size: 0.9em;
}

p a {
    margin-left: 5px;
}

.mensaje {
    justify-content: center;
    height: 45px;
    background-color: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.mensaje-activo {
    display: inline-block;
}

.mensaje p i {
    align-self: center;  
    padding-right: 5px;
}

.mensaje p {
    align-self: center;
    flex-direction: row;
    margin: 0;
    font-size: 0.9em;
}

/********VALIDACIONES*************/

.campo-correcto .iconoValidacion {
    color: #1ed12d;
    opacity: 1;
}

.campo-incorrecto label {
    color: #bb2929;
}

.campo-incorrecto .iconoValidacion {
    color: #bb2929;
    opacity: 1;
}

.campo-incorrecto input {
    border: 2px solid #bb2929;
}

/*Boton Iniciar Sesion*/
.botonIniciarSesion{
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

#btnIniciarSesion{
    height:35px;
    justify-content: center;
    color: #f7f7f7;
    background-color: #11cbd7;
    border-radius: 6px;
    font-weight: bold;
    border:none;
    padding: 5px;
}

#btnIniciarSesion:hover {
    background-color: #67DDE5;
}

.botonIniciarSesion a:hover {
    text-decoration: none;
}

}


/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/**************** dispositivos pequeños **************************/

@media only screen and (min-width: 600px) {

.containerIniciarSesion{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #DCDCDC;
    height: 100%;
    width: 50%;
    justify-content: center;
    padding: 20px;
}

.containerIniciarSesion h3 {
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin:0;
}

/*Formulario*/

.divForm {
  justify-content: space-between;
  width: 100%;
}

.campo label {
  margin: 0 !important;
  padding-bottom: 5px;
  font-size: 0.8em;
  cursor: pointer;
  font-weight: bold;
}

.campo {
  width:100%;
  margin-top: 25px;
}

.divInput {
  flex-direction: row;
  position: relative;
}

.divInput input {
  width: 100%;
  margin-bottom: 10px;
  font-size: 0.7em;
  padding: 4px 0;
  border: 2px solid  #eaeaea;
  border-radius: 3px;
  height: 35px;
  transition: .3s ease all;
}

.divInput input:focus {
  border: 2px solid  #00b5ff;
  outline: none;
  box-shadow: 2px 0 30px #a3a3a3;
}

.inputError {
  font-size: 0.7em;
  margin: 0;
  padding-bottom: 10px;
  display: none;
}

.inputError-activo {
  display: inline-block;
}

.iconoValidacion {
  position: absolute;
  align-self: center;
  right: 10px;
  top: 10px;
  z-index: 100;
  font-size: 0.9em;
  opacity: 0;
}

.contraseña{
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px;
}

p{
    flex-direction: row;
    justify-content: center;
    font-size: 0.9em;
}

p a {
    margin-left: 5px;
}

.mensaje {
    justify-content: center;
    height: 45px;
    background-color: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.mensaje-activo {
    display: inline-block;
}

.mensaje p i {
    align-self: center;  
    padding-right: 5px;
}

.mensaje p {
    align-self: center;
    flex-direction: row;
    margin: 0;
    font-size: 0.9em;
}

/********VALIDACIONES*************/

.campo-correcto .iconoValidacion {
    color: #1ed12d;
    opacity: 1;
}

.campo-incorrecto label {
    color: #bb2929;
}

.campo-incorrecto .iconoValidacion {
    color: #bb2929;
    opacity: 1;
}

.campo-incorrecto input {
    border: 2px solid #bb2929;
}

/*Boton Iniciar Sesion*/
.botonIniciarSesion{
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

#btnIniciarSesion{
    height:35px;
    justify-content: center;
    color: #f7f7f7;
    background-color: #11cbd7;
    border-radius: 6px;
    font-weight: bold;
    border:none;
    padding: 5px;
}

#btnIniciarSesion:hover {
    background-color: #67DDE5;
}

.botonIniciarSesion a:hover {
    text-decoration: none;
}


}

/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/***************************** tabletas **************************/
@media (min-width: 768px) {

.containerIniciarSesion{
    width: 40%;
}
}

/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/************************ escritorio normales ********************/
@media (min-width: 992px) {

.containerIniciarSesion{
    width: 30%;
}
}

/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/******************** pantallas grandes **************************/
@media (min-width: 1200px) {

.containerIniciarSesion{
    width: 30%;
}

.containerIniciarSesion h3 {
    align-items: center;
}


}


