/************************************CARRITO************************************/

/************* mobile first ******************/
@media only screen and (max-width: 600px) {

.contenedorCarrito {
  align-items: center;
  width: 100%;
  height: 70vh;
}

/*****breadcrumb******/

.divBreadcrumb{
    background-color: #eaeaea;
    width: 90%;
    border-radius: 4px;
    margin-top: 10px;
}

.menuBreadcrumb{
    flex-direction: row; 
    margin: 0 !important;
    height: 100%;
    padding-left: 15px;
}

.menuBreadcrumb li, span {
    padding: 10px 2px;
    justify-content: center;
    font-size: 0.8em;
}

.menuBreadcrumb a {
    text-decoration: none;
    color: #000000;
}

/****titulo****/

.contenedorCarrito h3 {
  flex-direction: row;
  text-align: center;
  font-size: 1.1em;
  width: 70%;
  margin-top: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.contenedorCarrito h3::after, h3::before{
  flex-grow: 1;
  height: 1px;
  content: '\a0';
  background-color: #cccccc;
  position: relative;
  top: 0.5em;
}

.contenedorCarrito h3::before{
  margin-right: 10px;
}

.contenedorCarrito h3::after{
  margin-left: 10px;
}

/****Carrito****/

.divCarritoCompras {
  width: 80%;
  height: 40%;
}

/*Descripcion*/

.descripcion {
  flex-direction: row;
  width: 100%;
  height: 17%;
  margin: 20px 0 10px 0;
  background-color:#7C7B7B;
}

.descripcion ul {
  width: 100%;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
}

.descripcion li {
  align-self: center;
  margin: 0;
  color: #FFFFFF;
  font-size: 0.8em;
}

#producto{
  width: 30%;
  align-items: center;
}

/*Contenido de la compra*/

.contenidoDeCompra {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 65%;
  border: 1px solid #dedede;
  text-align: center;
}

.contenidoDeCompra p {
  margin: 0;
  font-size: 0.7em;
}

.prod {
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  width: 40%;
  height: 100%;
}

.prod img {
  display: none;
}

.formCantidad {
  justify-content: center;
  width: 20%;
  height: 100%;
}

.formCantidad input {
  width: 50%;
  align-self: center;
}

.prec {
  justify-content: center;
  width: 16%;
  height: 100%;
  align-items: center;
}

.subt{
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 16%;
  height: 100%;
}

.subt button {
  border: none;
  font-size: 0.7em;
}

/****resumen****/

.resumen {
  width: 80%;
  margin: 10px 0;
  align-items: flex-start;
}

.resumen h5 {
	font-size: 1em;
}

.resumen p {
  margin-top: 10px;
  font-size: 0.8em;
}


/****Botones*****/

.botones {
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

#segcom{
  width:100px;
  padding:10px;
  border:none;
  border-radius:5px;
  font-size:0.7em;
  align-items: center;
  color: #f7f7f7;
  background-color: #11cbd7;
  font-weight: bold;
}

#contcom{
  width:100px;
  padding:10px;
  border:none;
  border-radius:5px;
  font-size:0.8em;
  align-items: center;
  color: #f7f7f7;
  background-color: #11cbd7;
  font-weight: bold;
}

#segcom:hover {
   background-color: #67DDE5;
}

#contcom:hover {
    background-color: #67DDE5;
}

}


/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/**************** dispositivos pequeños **************************/

@media only screen and (min-width: 600px) {

  .contenedorCarrito {
  align-items: center;
  width: 100%;
  height: 70vh;
}

/*****breadcrumb******/

.divBreadcrumb{
    background-color: #eaeaea;
    width: 90%;
    border-radius: 4px;
    margin-top: 10px;
}

.menuBreadcrumb{
    flex-direction: row; 
    margin: 0 !important;
    height: 100%;
    padding-left: 15px;
}

.menuBreadcrumb li, span {
    padding: 10px 2px;
    justify-content: center;
    font-size: 0.8em;
}

.menuBreadcrumb a {
    text-decoration: none;
    color: #000000;
}

/****titulo****/

.contenedorCarrito h3 {
  flex-direction: row;
  font-size: 1.3em;
  width: 70%;
  margin-top: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.contenedorCarrito h3::after, h3::before{
  flex-grow: 1;
  height: 1px;
  content: '\a0';
  background-color: #cccccc;
  position: relative;
  top: 0.5em;
}

.contenedorCarrito h3::before{
  margin-right: 10px;
}

.contenedorCarrito h3::after{
  margin-left: 10px;
}

/****Carrito****/

.divCarritoCompras {
  width: 80%;
  height: 40%;
}

/*Descripcion*/

.descripcion {
  flex-direction: row;
  width: 100%;
  height: 17%;
  margin: 20px 0 10px 0;
  background-color:#7C7B7B;
}

.descripcion ul {
  width: 100%;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
}

.descripcion li {
  align-self: center;
  margin: 0;
  color: #FFFFFF;
  font-size: 0.8em;
}

#producto{
  width: 30%;
  align-items: center;
}

/*Contenido de la compra*/

.contenidoDeCompra {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 65%;
  border: 1px solid #dedede;
  text-align: center;
}

.contenidoDeCompra p {
  margin: 0;
  font-size: 0.8em;
}

.prod {
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  width: 40%;
  height: 100%;

}

.prod img {
  display: none;
}

.formCantidad {
  justify-content: center;
  width: 20%;
  height: 100%;
}

.formCantidad input {
  width: 50%;
  align-self: center;
}

.prec {
  justify-content: center;
  width: 16%;
  height: 100%;
  align-items: center;
}

.subt{
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 16%;
  height: 100%;
}

.subt button {
  border: none;
}

/****resumen****/

.resumen {
  width: 80%;
  margin: 10px 0;
  align-items: flex-start;
}

.resumen p {
  margin-top: 10px;
}


/****Botones*****/

.botones {
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
  margin-bottom: 30px;
}

.botones div{
  margin-left: 40px;
}

#segcom{
  width:150px;
  padding:10px;
  border:none;
  border-radius:5px;
  font-size:15px;
  align-items: center;
  color: #f7f7f7;
  background-color: #11cbd7;
  font-weight: bold;
}

#contcom{
  width:150px;
  padding:10px;
  border:none;
  border-radius:5px;
  font-size:15px;
  align-items: center;
  color: #f7f7f7;
  background-color: #11cbd7;
  font-weight: bold;
}

#segcom:hover {
    background-color: #67DDE5;
}

#contcom:hover {
    background-color: #67DDE5;
}

}

/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/***************************** tabletas **************************/
@media (min-width: 768px) {

  .contenedorCarrito {
  align-items: center;
  width: 100%;
  height: 70vh;
}

/****Carrito****/

.divCarritoCompras {
  width: 80%;
  height: 40%;
}

/*Descripcion*/

.descripcion {
  flex-direction: row;
  width: 100%;
  height: 17%;
  margin: 20px 0 10px 0;
  background-color:#7C7B7B;
}

.descripcion ul {
  width: 100%;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
}

.descripcion li {
  align-self: center;
  margin: 0;
  color: #FFFFFF;
  font-size: 0.8em;
}

#producto{
  width: 30%;
  align-items: center;
}

/*Contenido de la compra*/

.contenidoDeCompra {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 65%;
  border: 1px solid #dedede;
  text-align: center;
}

.contenidoDeCompra p {
  margin: 0;
  font-size: 0.8em;
}

.prod {
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  width: 40%;
  height: 100%;

}

.prod img {
  display: none;
}

.formCantidad {
  justify-content: center;
  width: 20%;
  height: 100%;
}

.formCantidad input {
  width: 50%;
  align-self: center;
}

.prec {
  justify-content: center;
  width: 16%;
  height: 100%;
  align-items: center;
}

.subt{
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 16%;
  height: 100%;
}

.subt button {
  border: none;
}

}

/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/************************ escritorio normales ********************/
@media (min-width: 992px) {}

/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/******************** pantallas grandes **************************/
@media (min-width: 1200px) {

.contenedorCarrito {
  align-items: center;
  width: 100%;
  height: 100vh;
}

/*****breadcrumb******/

.divBreadcrumb{
    background-color: #eaeaea;
    width: 90%;
    border-radius: 4px;
    margin-top: 10px;
}

.menuBreadcrumb{
    flex-direction: row; 
    margin: 0 !important;
    height: 100%;
    padding-left: 15px;
}

.menuBreadcrumb li, span {
    padding: 10px 2px;
    justify-content: center;
    font-size: 0.8em;
}

.menuBreadcrumb a {
    text-decoration: none;
    color: #000000;
}

/****titulo****/

.contenedorCarrito h3 {
  flex-direction: row;
  font-size: 1.3em;
  width: 70%;
  margin-top: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.contenedorCarrito h3::after, h3::before{
  flex-grow: 1;
  height: 1px;
  content: '\a0';
  background-color: #cccccc;
  position: relative;
  top: 0.5em;
}

.contenedorCarrito h3::before{
  margin-right: 10px;
}

.contenedorCarrito h3::after{
  margin-left: 10px;
}

/****Carrito****/

.divCarritoCompras {
  width: 80%;
  height: 40%;
}

/*Descripcion*/

.descripcion {
  flex-direction: row;
  width: 100%;
  height: 17%;
  margin: 20px 0 10px 0;
  background-color:#7C7B7B;
}

.descripcion ul {
  width: 100%;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
}

.descripcion li {
  align-self: center;
  margin: 0;
  color: #FFFFFF;
}

#producto{
  width: 40%;
  align-items: center;
}

/*Contenido de la compra*/

.contenidoDeCompra {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 65%;
  border: 1px solid #dedede;
}

.contenidoDeCompra p {
  margin: 0;
}

.prod {
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
}

.prod img {
  display: inline-block;
  width: 30%;
  height: 90%;
}

.formCantidad {
  justify-content: center;
  width: 16%;
  height: 100%;
}

.formCantidad input {
  width: 40%;
  align-self: center;
}

.prec {
  justify-content: center;
  width: 16%;
  height: 100%;
  align-items: center;
}

.subt{
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 16%;
  height: 100%;
}

.subt button {
  border: none;
}

/****resumen****/

.resumen {
  width: 80%;
  margin: 10px 0;
  align-items: flex-start;
}

.resumen p {
  margin-top: 10px;
}


/****Botones*****/

.botones {
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
}

.botones div{
  margin-left: 40px;
}

#segcom{
  width:150px;
  padding:10px;
  border:none;
  border-radius:5px;
  font-size:15px;
  align-items: center;
  color: #f7f7f7;
  background-color: #11cbd7;
  font-weight: bold;
}

#contcom{
  width:150px;
  padding:10px;
  border:none;
  border-radius:5px;
  font-size:15px;
  align-items: center;
  color: #f7f7f7;
  background-color: #11cbd7;
  font-weight: bold;
}

}

